<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<!-- Useful for tablet and mobile based browsing-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title of the page (not necessarily the lab) - for reference only, not displayed on the page-->
	<title>Middle Page</title>
	<!-- CSS template stylesheet must be linked here-->
	<link href="css/renesas_layout_style.css" rel="stylesheet" type="text/css">
	<!-- Javascript based lab templating helper must be placed here-->
	<script type="text/javascript" src="js/lab-templater.js"></script>

	<!-- Addition of code highlighting Stylesheet & Script-->
	<link rel="stylesheet" href="js/highlight/styles/atom-one-light.min.css">
	<script type="text/javascript" src="js/highlight/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
</head>

<body>
	<!-- Populate the page header (banner, title & navigation menu)-->
	<script>lab_templater.Generate_header();</script>

	<!-- Begin the main content of the page-->
	<div class="main-content">

		<!-- Page/Section Summary & Description-->
		<summary>2. Middle Page</summary>
		<p>This middle page will provide examples of lists, images, code snippets and downloadable content.</p>

		<!-- Start adding "details" sections for lab steps-->
		<details open>
			<summary>2.1 Lists</summary>
			<p>This is some text.</p>
			<ol>
				<li>This is an ordered list.</li>
			</ol>

			<ul>
				<li>This is an unordered list.</li>
			</ul>
		</details>

		<details>
			<summary>2.2 Images</summary>
			<p>The custom class modal-thumbnails allows us to create a small thumbnail of the image which becomes modal on clicking - try clicking the image below to see.</p>
			<img class="modal-thumbnails" src="img/img_lab/renesas_logo_blue.png" alt="">
			<p>Removing the class means the image is in its default format and is not clickable.</p>
			<img src="img/img_lab/renesas_logo_blue.png" alt="">
		</details>

		<details>
			<summary>2.3 Code Snippets</summary>
			<p>We have two types of code snippets, copyable and non-copyable, both require the addition of extra JS placed at the top and bottom of this file.</p>

			<pre><code class="C">/**@brief A copyable code snippet*/
void main(void)
{
	while(1)
	{
		/* TODO: Write Code*/
	}
}</code></pre>

<pre class="no-copy"><code class="C">/**@brief A non-copyable code snippet*/
void main(void)
{
	while(1)
	{
		/* TODO: Write Code*/
	}
}</code></pre>

		</details>

		<details>
			<summary>2.4 Downloadable Content</summary>
			<p>Adding downloadable content is easy to, just add a link like <a href="dl/hello.zip" download>this</a>.</p>
		</details>

		<!-- Prepare the pages modal images-->
		<script>lab_templater.Prepare_modal();</script>

		<!-- Button for going to the next page-->
		<script>lab_templater.Generate_next_page_button("Next...");</script>

		<!-- Setup code copying functionality on all appropriately formatted code snippets-->
		<script>Setup_code_copy();</script>
	</div>
</body>

</html>