<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<!-- Useful for tablet and mobile based browsing-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title of the page (not necessarily the lab) - for reference only, not displayed on the page-->
	<title>Source Code</title>
	<!-- CSS template stylesheet must be linked here-->
	<link href="css/renesas_layout_style.css" rel="stylesheet" type="text/css">
	<!-- Javascript based lab templating helper must be placed here-->
	<script type="text/javascript" src="js/lab-templater.js"></script>

	<!-- Addition of code highlighting Stylesheet & Script-->
	<link rel="stylesheet" href="js/highlight/styles/atom-one-light.min.css">
	<script type="text/javascript" src="js/highlight/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
</head>

<body>
	<!-- Populate the page header (banner, title & navigation menu)-->
	<script>lab_templater.Generate_header();</script>

	<!-- Begin the main content of the page-->
	<div class="main-content">

		<!-- Page/Section Summary & Description-->
		<summary>3. Source Code</summary>
		<p>Here we will guide you through both inclusion and understanding of the code for this project. The aim is to
			give an understanding of how to use smart configurator generated code, the e² studio build settings &amp;
			finally what the lab code does.
		</p>

		<!-- Start adding "details" sections for lab steps-->
		<details open>
			<summary>3.1 Pull In The Free Code</summary>
			<p>First we have to pull in the free code provided for this lab, that is the  display
				drivers. We call this free code as it serves a fixed purpose and is only here to facilitate the
				training. It is not the subject of the training.<br><br>

				To acquire the free code please click <a href="dl/src.zip" download>here</a> to download &amp; extract
				the contents of the .zip archive.<br><br>

				Please copy the folder "app" into the "src" folder in your e² studio project.
			</p>
			<img class="modal-thumbnails" src="img/img_lab/copyfreecode.gif" alt="">
		</details>

		<details>
			<summary>3.2 Edit the SPI Driver</summary>
			<p>The SPI base driver doesn't provide the appropriate functionality out of the box - so let's edit it and
				give ourselves the functions we need, this is namely an SPI send function which blocks and polls the tx
				end flag until data is finished sending &amp; which accesses data in the far
				memory area - useful when driving a display as images are often stored in ROM.<br><br>
				Navigate to <b>[src] &rarr; [smc_gen] &rarr; [Config_CSI00] &rarr; Config_CSI00.h</b><br>
				At the bottom of the file, in the "Start user code for function..." comment gaurd - place the following
				function declaration.
			</p>

			<pre><code class="C">/**@brief Start application and masks interrupt flags*/
void R_Config_CSI00_Start_app(void);

/**@brief Send data with far addressing over SPI.
* @param tx_buf - pointer to 8bit width buffer.
* @param tx_num - number of bytes to send
* Function is blocking.
*/
void R_Config_CSI00_Send_app(const uint8_t * const tx_buf, uint16_t tx_num);</code></pre>

			<p>Which should look like this:</p>
			<img class="modal-thumbnails" src="img/img_lab/spiheader.png" alt="">

			<p>Next navigate to the corresponding <b>Config_CSI00_user.c</b> file ([src] &rarr; [smc_gen] &rarr;
				[Config_CSI00]
				&rarr; Config_CSI000_user.c).<br>
				<b>Replace the entire contents of the file</b> with the following by source code:</p>

			<pre><code class="C">/***********************************************************************************************************************
* DISCLAIMER
* This software is supplied by Renesas Electronics Corporation and is only intended for use with Renesas products.
* No other uses are authorized. This software is owned by Renesas Electronics Corporation and is protected under all
* applicable laws, including copyright laws. 
* THIS SOFTWARE IS PROVIDED "AS IS" AND RENESAS MAKES NO WARRANTIES REGARDING THIS SOFTWARE, WHETHER EXPRESS, IMPLIED
* OR STATUTORY, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NON-INFRINGEMENT.  ALL SUCH WARRANTIES ARE EXPRESSLY DISCLAIMED.TO THE MAXIMUM EXTENT PERMITTED NOT PROHIBITED BY
* LAW, NEITHER RENESAS ELECTRONICS CORPORATION NOR ANY OF ITS AFFILIATED COMPANIES SHALL BE LIABLE FOR ANY DIRECT,
* INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES FOR ANY REASON RELATED TO THIS SOFTWARE, EVEN IF RENESAS OR
* ITS AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
* Renesas reserves the right, without notice, to make changes to this software and to discontinue the availability 
* of this software. By using this software, you agree to the additional terms and conditions found by accessing the 
* following link:
* http://www.renesas.com/disclaimer
*
* Copyright (C) 2021, 2022 Renesas Electronics Corporation. All rights reserved.
***********************************************************************************************************************/

/***********************************************************************************************************************
* File Name        : Config_CSI00_user.c
* Component Version: 1.2.0
* Device(s)        : R7F100GFNxFP
* Description      : This file implements device driver for Config_CSI00.
***********************************************************************************************************************/
/***********************************************************************************************************************
Includes
***********************************************************************************************************************/
#include "r_cg_macrodriver.h"
#include "r_cg_userdefine.h"
#include "Config_CSI00.h"
/* Start user code for include. Do not edit comment generated here */
#include "Config_DTC.h"
/* End user code. Do not edit comment generated here */

/***********************************************************************************************************************
Pragma directive
***********************************************************************************************************************/
#pragma interrupt r_Config_CSI00_interrupt(vect=INTCSI00)
/* Start user code for pragma. Do not edit comment generated here */
/* End user code. Do not edit comment generated here */

/***********************************************************************************************************************
Global variables and functions
***********************************************************************************************************************/
extern volatile uint8_t * gp_csi00_tx_address;    /* csi00 send buffer address */
extern volatile uint16_t g_csi00_tx_count;        /* csi00 send data count */
/* Start user code for global. Do not edit comment generated here */

extern st_dtc_data_t __near dtc_controldata_1;

static volatile bool tx_done = true;

/** @brief sends the SPI via simple polling of interrupt flags (doesn't use isr)
 * @param tx_buf - pointer to data to send
 * @param tx_num - number of bytes to send
 */
static void Simple_polling_send(const uint8_t * const tx_buf, uint16_t tx_num);

/* End user code. Do not edit comment generated here */

/***********************************************************************************************************************
* Function Name: R_Config_CSI00_Create_UserInit
* Description  : This function adds user code after initializing the CSI00.
* Arguments    : None
* Return Value : None
***********************************************************************************************************************/
void R_Config_CSI00_Create_UserInit(void)
{
	/* Start user code for user init. Do not edit comment generated here */
	/* End user code. Do not edit comment generated here */
}

/***********************************************************************************************************************
* Function Name: r_Config_CSI00_callback_sendend
* Description  : This function is a callback function when CSI00 finishes transmission.
* Arguments    : None
* Return Value : None
***********************************************************************************************************************/
static void r_Config_CSI00_callback_sendend(void)
{
	/* Start user code for r_Config_CSI00_callback_sendend. Do not edit comment generated here */
	tx_done = true;
	/* End user code. Do not edit comment generated here */
}

/***********************************************************************************************************************
* Function Name: r_Config_CSI00_interrupt
* Description  : This function is INTCSI00 interrupt service routine.
* Arguments    : None
* Return Value : None
***********************************************************************************************************************/
static void __near r_Config_CSI00_interrupt(void)
{
	uint8_t err_type;

	err_type = (uint8_t)(SSR00 & _0001_SAU_OVERRUN_ERROR);
	SIR00 = (uint16_t)err_type;

	if (1U != err_type)
	{
		if (g_csi00_tx_count > 0U)
		{
			SIO00 = *gp_csi00_tx_address;
			gp_csi00_tx_address++;
			g_csi00_tx_count--;
		}
		else
		{
			r_Config_CSI00_callback_sendend();    /* complete send */
		}
	}
}

/* Start user code for adding. Do not edit comment generated here */

void R_Config_CSI00_Start_app(void)
{
	SO0 &= (uint16_t)~_0100_SAU_CH0_CLOCK_OUTPUT_1;    /* CSI00 clock initial level */
	SO0 &= (uint16_t)~_0001_SAU_CH0_DATA_OUTPUT_1;    /* CSI00 SO initial level */
	SOE0 |= _0001_SAU_CH0_OUTPUT_ENABLE;    /* enable CSI00 output */
	SS0 |= _0001_SAU_CH0_START_TRG_ON;    /* enable CSI00 */
	CSIIF00 = 0U;    /* clear INTCSI00 interrupt flag */
	CSIMK00 = 1U;    /* disable INTCSI00 interrupt */
	g_csi00_tx_count = 0U; /* Force the spi tx end callback to trigger on dtc completion*/
}
/* END OF FUNCTION*/

void R_Config_CSI00_Send_app(const uint8_t * const tx_buf, uint16_t tx_num)
{
	const uint8_t * l_tx_buf = tx_buf;
	uint16_t l_tx_num = tx_num;
	uint16_t bytes_to_send = 0U;

	/* Wait for previous transmission to complete*/
	while(!tx_done)
	{
		NOP();
	}

	CSIMK00 = 0U;    /* enable INTCSI00 interrupt */

	do
	{
		tx_done = false;

		bytes_to_send = (l_tx_num > 255U) ? 256U : l_tx_num;
		l_tx_num = (l_tx_num > 255U) ? (l_tx_num-256U) : 0U;

		/* Two bytes or less don't use DTC*/
		if(bytes_to_send < 3U)
		{
			Simple_polling_send(l_tx_buf, bytes_to_send);
		}
		else
		{
			/* Configure DTC*/
			dtc_controldata_1.dtbls = 1U;
			dtc_controldata_1.dtcct = ((bytes_to_send-1U) > 255U) ? 0U : (uint8_t)(bytes_to_send-1U);
			dtc_controldata_1.dtsar = (uint16_t)(&l_tx_buf[1]);
			dtc_controldata_1.dtdar = (uint16_t)(__near uint8_t *)&SIO00;
			R_DTCD1_Start();

			SIO00 = *l_tx_buf;    /* Trigger SPI transmission */
			l_tx_buf += bytes_to_send; /* Move the buffer pointer forward*/
		}

		/* Wait for transmission to complete*/
		while(!tx_done)
		{
			HALT();
		}
	}
	while(l_tx_num > 0U);

	CSIMK00 = 1U;    /* disable INTCSI00 interrupt */
}
/* END OF FUNCTION*/

static void Simple_polling_send(const uint8_t * const tx_buf, uint16_t tx_num)
{
	uint16_t l_tx_num = tx_num;
	const uint8_t * l_tx_buf = tx_buf;

	CSIMK00 = 1U;    /* disable INTCSI00 interrupt */
	CSIIF00 = 0U;    /* clear INTCSI00 interrupt flag */

	tx_done = false;

	while(l_tx_num > 0U)
	{
		SIO00 = *l_tx_buf;

		l_tx_num--;
		l_tx_buf++;

		/* Wait for the interrupt flag to set*/
		while(0U == CSIIF00)
		{
			NOP();
		}

		CSIIF00 = 0U;
	}

	tx_done = true;
}
/* END OF FUNCTION*/

/* End user code. Do not edit comment generated here */</code></pre>
		</details>

		<details>
			<summary>3.3 Edit the TAU04 Driver</summary>
			<p>The interval timer TAU04 base driver doesn't provide the appropriate functionality out of the box - so
				let's edit it and give ourselves the function we need, this is a ms resolution blocking delay.<br><br>
				Navigate to <b>[src] &rarr; [smc_gen] &rarr; [Config_TAU0_4] &rarr; Config_TAU0_4.h</b><br>
				At the bottom of the file, in the "Start user code for function..." comment gaurd - place the following
				function declaration.</p>

			<pre><code class="C">/** @brief function to use a timer to delay ms number of milliseconds.
* @param ms - number of milliseconds to delay.
*/
void Hw_delay_ms(uint16_t ms);</code></pre>

			<p>Which should look like this:</p>
			<img class="modal-thumbnails" src="img/img_lab/tau04header.png" alt="">

			<p>Next navigate to the corresponding <b>Config_TAU0_4_user.c</b> file ([src] &rarr; [smc_gen] &rarr;
				[Config_TAU0_4] &rarr; Config_TAU0_4_user.c) and please add the following code at the bottom of the file,
				again within the comment gaurd "Start user code for adding...".
			</p>

			<pre><code class="C">void Hw_delay_ms(uint16_t ms)
{
	if(ms > 0U)
	{
		static uint16_t use_count = 0U;

		while(use_count > 0U)
		{
			NOP();
		}

		++use_count;

		TDR04 = (ms > 1U) ? (ms << 2U)-1U : 0U;

		TMMK04 = 1U;    /* disable INTTM02 interrupt */
		TMIF04 = 0U;    /* clear INTTM02 interrupt flag */

		TS0 |= _0010_TAU_CH4_START_TRG_ON;

		while(0U == TMIF04)
		{
			NOP();
		}

		TT0 |= _0010_TAU_CH4_STOP_TRG_ON;

		TMIF04 = 0U;    /* clear INTTM02 interrupt flag */

		--use_count;
	}
}
/* END OF FUNCTION*/</code></pre>

			<p>Which should look like this:</p>
			<img class="modal-thumbnails" src="img/img_lab/tau04src.png" alt="">
		</details>

		<details>
			<summary>3.4 Edit the INTC - INTP4 Driver</summary>
			<p>The button press ISR needs to be populated to enable communcation with the applicaiton layer.
				Navigate to the <b>[src] &rarr; [smc_gen] &rarr; [Config_INTC] &rarr; Config_INTC_user.c</b> &amp;
				copy the code below into the includes section of the file, inside the "Start user code for include..."
				comment gaurd.
			</p>
			<pre><code class="C">#include "../../app/app.h"</code></pre>

			<p>Finally inside the r_Config_INTC_intp4_interrupt isr, please place the following code. This code
				signals to the application that a button click event has been detected. It should be
				placed within the "Start user code for r_Config_INTC_intp4_interrupt..." comment gaurd.
			</p>
			<pre><code class="C">HW_SET_EVENT(hw_event_flags, BUTTON_CLICK);</code></pre>

			<p>The changes should look like this when finished:</p>
			<img class="modal-thumbnails" src="img/img_lab/intcsrc.png" alt="">
		</details>

		<details>
			<summary>3.5 Pull In The Main Code</summary>
			<p>Now lets copy in the main code - this is running the application.<br>
				Simply <b>replace</b> the entire contents of your main source file src/<i>&lt;project_name&gt;.c</i>
				with the code below.</p>

			<pre><code class="C">/***********************************************************************************************************************
* DISCLAIMER
* This software is supplied by Renesas Electronics Corporation and is only intended for use with Renesas products.
* No other uses are authorized. This software is owned by Renesas Electronics Corporation and is protected under all
* applicable laws, including copyright laws.
* THIS SOFTWARE IS PROVIDED "AS IS" AND RENESAS MAKES NO WARRANTIES REGARDING THIS SOFTWARE, WHETHER EXPRESS, IMPLIED
* OR STATUTORY, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
* NON-INFRINGEMENT.  ALL SUCH WARRANTIES ARE EXPRESSLY DISCLAIMED.TO THE MAXIMUM EXTENT PERMITTED NOT PROHIBITED BY
* LAW, NEITHER RENESAS ELECTRONICS CORPORATION NOR ANY OF ITS AFFILIATED COMPANIES SHALL BE LIABLE FOR ANY DIRECT,
* INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES FOR ANY REASON RELATED TO THIS SOFTWARE, EVEN IF RENESAS OR
* ITS AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
* Renesas reserves the right, without notice, to make changes to this software and to discontinue the availability
* of this software. By using this software, you agree to the additional terms and conditions found by accessing the
* following link:
* http://www.renesas.com/disclaimer
*
* Copyright (C) 2020 Renesas Electronics Corporation. All rights reserved.
***********************************************************************************************************************/

/***********************************************************************************************************************
*  File Name    : iaq_low_power.c
*  Description  : Main Program
*  Creation Date: 2023-03-21
*  This file was generated by Smart Configurator.
***********************************************************************************************************************/
#include "app/app.h"


/** @brief Function to handle low power modes*/
static void App_handle_low_power(void)
{
   /* Infinitely wait for a button click to progress*/
   App_wait_for_button_click();

   /* Before enterring low power state - isable the backlight*/
   Hw_disable_backlight();

   /* Handle sleep state*/
   switch(system_state)
   {
   case RUN_MODE:
   {
	   /* Infinitely wait for a button click to progress*/
	   App_wait_for_button_click();
   }
   break;
   case HALT_MODE:
   {
	   HALT();
   }
   break;

   case STOP_MODE:
   {
	   STOP();
   }
   break;

   case STOP_MODE_NL:
   {
	   /* Turn off LOCO*/
	   SELLOSC = 0U;
	   WUTMMCK0 = 0U;

	   STOP();

	   /* Turn on LOCO*/
	   SELLOSC = 1U;
	   WUTMMCK0 = 1U;
   }
   break;

   case STOP_MODE_NL_RAMSD:
   {
	   /* Turn off LOCO*/
	   SELLOSC = 0U;
	   WUTMMCK0 = 0U;

	   /* RAM Shutdown*/
	   RAMSDMD = 1U;
	   R_BSP_SoftwareDelay(1UL, BSP_DELAY_MICROSECS);
	   RAMSDS = 1U;

	   STOP();

	   /* RAM Wakeup*/
	   RAMSDS = 0U;
	   R_BSP_SoftwareDelay(2UL, BSP_DELAY_MICROSECS);
	   RAMSDMD = 0U;

	   /* Turn on LOCO*/
	   SELLOSC = 1U;
	   WUTMMCK0 = 1U;
   }
   break;

   case STOP_MODE_FIO:
   {
	   /* Make port an input to allow floating currents*/
	   PM2_bit.no7 = 1U;

	   STOP();

	   /* Reset to output*/
	   PM2_bit.no7 = 0U;
   }
   break;

   case STOP_MODE_CCIO:
   {
	   /* Introduce CCIO peripheral current draw - while backlight still disabled*/
	   CCS6 = 0x00U; /* Hi-Z backlight*/
	   CCDE |= 0x40U; /* Enable CCIO perihperal*/
	   P6_bit.no2 = 0U; /* Make appropriate port setting to allow CCIO*/

	   STOP();
   }
   break;

   default:
	   /* Do nothing - should never get here*/
	   break;
   }
}
/* END OF FUNCTION*/


/** @brief Main function - NOTE: Line 651, mcu_clocks.c, cmc register updated for low power*/
void main(void)
{
   /* Enable handling of interrupts*/
   EI();

   /* Prepare drivers and display*/
   App_init();

   while(1)
   {
	   /* Update the display*/
	   App_update_display();

	   /* Select, prepare and enter low power state*/
	   App_handle_low_power();

	   /* Increment system state & update previous system state*/
	   App_update_system_state();
   }
}
/* END OF MAIN*/</code></pre>

		</details>

		<details>
			<summary>3.7 Create RAMSD Region</summary>
			<p>Because we will be utilising RAM shutdown we must handle a situation where our RAM becomes undefined.
				There are a few ways to do this depending on application requirements, one of which is to choose the
				variables you need to be retained during the application and place them in the RAMSD safe area (0xFF000 &rarr; 0xFFEFF).<br><br>
				To do so <b>[Right click] the project</b> &rarr; <b>Properties</b> &rarr; <b>C/C++ Build</b> &rarr; <b>Settings</b> &rarr; <b>Linker</b>
				&rarr; <b>Section</b>.<br>
				<i>Uncheck</i> - <b>Layout sections automatically (-auto_Section_layout)</b><br>
				Then open the Sections (-start) viewer and ensure it matches the following:
			</p>
			<img class="modal-thumbnails" src="img/img_lab/section_viewer.png" alt="">
			<p>Then navigate to <b>[Right click] the project</b> &rarr; <b>Properties</b> &rarr; <b>C/C++ Build</b> &rarr; <b>Settings</b> &rarr; <b>Linker</b>
				&rarr; <b>Output</b>.<br>
				And using the <b>[Add...]</b> button include a new entry, <i>RAMSD_n=RAMSDR_n</i> in <b>ROM to RAM mapped section (-rom)</b>.<br>
				As shown below:
			</p>
			<img class="modal-thumbnails" src="img/img_lab/output_viewer.png" alt="">
		</details>

		<details>
			<summary>3.8 Output HEX File</summary>
			<p>Because we will be utilising RFP (Renesas Flash Programmer) to flash the device and operate the application
				(to avoid increasing current consumption due to debugger connection) we will enable the generation of a hex file.
			To do so navigate to <b>[Right click] the project</b> &rarr; <b>Properties</b> &rarr; <b>C/C++ Build</b> &rarr; <b>Settings</b> &rarr; <b>Converter</b>
				&rarr; <b>Output</b>.<br>
				And enable <b>Output hex file</b>.
			</p>
			<img class="modal-thumbnails" src="img/img_lab/converter.png" alt="">
		</details>

		<details>
			<summary>3.9 Edit mcu_clocks.c</summary>
			<p>The lowest power confiuration for the XT1 oscillator pins is to place the <i>pins</i> in oscialltion connection mode, but disable the oscillator.
				Unfortunately the register which controls the oscillator can only be written to once on power up and is done so by the auto generated code.
				Therefore we need to edit the driver.<br>
			To do so navigate to <b>src</b> &rarr; <b>smc_gen</b> &rarr; <b>r_bsp</b> &rarr; <b>mcu</b> &rarr; <b>rl78_g23</b>
				&rarr; <b>mcu_clocks.c</b>.<br>
				At <b>line 651</b> change:
			</p>
			<pre><code class="C">cmc_tmp = 0x00U</code></pre>
			<p>to:</p>
			<pre><code class="C">cmc_tmp = 0x10U</code></pre>
			<img class="modal-thumbnails" src="img/img_lab/mcu_clocks.png" alt="">
		</details>
		
		<details>
			<summary>3.10 Application Explained <i>[Informative]</i></summary>
			<p>This application is built to showcase the RL78/G23's low power capabilities.<br>
				The application is a simple state machine for which state transitions occur on a button press.
				Each state is comprised of;</p>
				<ol>
					<li>Display update - show details of low power configuration for current state.</li>
					<li>Wait for button click.</li>
					<li>After button click - enter low power state.</li>
					<li>Wait for button click  this is the only way to exit low power state.</li>
				</ol>

				<p>The following states exist;</p>
				<ol>
					<li><b>RUN MODE</b><br>
						<i>This shows the running current of the RL78 at 2MHz MOCO driven CPU.<br>
						All states (inlcuding this one) disables the backlight on the LCD to reduce CCIO peripheral current.</i>
					</li>
					<li><b>HALT MODE</b><br>
						<i>This shows the HALT mode current of the RL78 at 2MHz MOCO driven CPU.</i></li>
					<li><b>STOP MODE</b><br>
						<i>This shows the STOP mode current of the RL78.</i></li>
					<li><b>STOP MODE - No LOCO</b><br>
						<i>This shows the STOP mode current of the RL78, while the LOCO is disabled.</i></li>
					<li><b>STOP MODE - No LOCO - RAM Shutdown</b><br>
						<i>This shows the STOP mode current of the RL78, while the LOCO is disabled &amp; and RAM shutdown is enabled.</i></li>
					<li><b>STOP MODE - Floating IO</b><br>
						<i>This shows the STOP mode current of the RL78, but impeeded by a floating IO input.</i></li>
					<li><b>STOP MODE - CCIO</b><br>
						<i>This shows the STOP mode current of the RL78, but impeeded by enabling the CCIO perihperal.</i></li>
				</ol>

			<p>The last two states in the above list are to show common impacts found when trying to achieve low power.
				<b>STOP MODE - Floating IO</b> is one of the most common issues we see when debugging low power applications
				and looking back over the project setup you may remember the PORT configuration in the Project Configuration section of the lab.<br><br>
				It may not have been immediately obvious but the reason we engaged with every pin (barring ones used for other peripherals 
				or externally terminated which we left unused) was to ensure there was no floating IO's causing through currents. Through
				current phenomena occurs when a floating charge exists on an input buffer, shown below.
			</p>
			<img class="modal-thumbnails" src="img/img_lab/floatingio.png" alt="">

			<p>The code for controlling each state is given below:</p>
			<ol>
				<li><b>RUN MODE</b><br>
					<pre class="no-copy"><code class="C">/* Infinitely wait for a button click to progress*/
App_wait_for_button_click();</code></pre>
				</li>
				<li><b>HALT MODE</b><br>
					<pre class="no-copy"><code class="C">/* Simply execute the HALT instruction*/
HALT(); /* Implicitly waits for unmasked interrupt to wake CPU*/</code></pre>
				</li>
				<li><b>STOP MODE</b><br>
					<pre class="no-copy"><code class="C">/* Simply execute the STOP instruction*/
STOP(); /* Implicitly waits for unmasked interrupt to wake CPU*/</code></pre>
				</li>
				<li><b>STOP MODE - No LOCO</b><br>
					<pre class="no-copy"><code class="C">/* Turn off LOCO*/
SELLOSC = 0U;
WUTMMCK0 = 0U;
				 
STOP(); /* Implicitly waits for unmasked interrupt to wake CPU*/
				 
/* Turn on LOCO*/
SELLOSC = 1U;
WUTMMCK0 = 1U;</code></pre>
				</li>
				<li><b>STOP MODE - No LOCO - RAM Shutdown</b><br>
					<pre class="no-copy"><code class="C">/* Turn off LOCO*/
SELLOSC = 0U;
WUTMMCK0 = 0U;
				 
/* RAM Shutdown*/
RAMSDMD = 1U;
R_BSP_SoftwareDelay(1UL, BSP_DELAY_MICROSECS);
RAMSDS = 1U;
				 
STOP(); /* Implicitly waits for unmasked interrupt to wake CPU*/
				 
/* RAM Wakeup*/
RAMSDS = 0U;
R_BSP_SoftwareDelay(2UL, BSP_DELAY_MICROSECS);
RAMSDMD = 0U;
				 
/* Turn on LOCO*/
SELLOSC = 1U;
WUTMMCK0 = 1U;</code></pre>
				</li>
				<li><b>STOP MODE - Floating IO</b><br>
					<pre class="no-copy"><code class="C">/* Make port an input to allow floating currents*/
PM2_bit.no7 = 1U;
				 
STOP(); /* Implicitly waits for unmasked interrupt to wake CPU*/
				 
/* Reset to output*/
PM2_bit.no7 = 0U;</code></pre>
				</li>
				<li><b>STOP MODE - CCIO</b><br>
					<pre class="no-copy"><code class="C">/* Introduce CCIO peripheral current draw - while backlight still disabled*/
CCS6 = 0x00U; /* Hi-Z backlight*/
CCDE |= 0x40U; /* Enable CCIO perihperal*/
P6_bit.no2 = 0U; /* Make appropriate port setting to allow CCIO*/
				 
STOP(); /* Implicitly waits for unmasked interrupt to wake CPU*/</code></pre>
				</li>
			</ol>

			<p>An important low power feature that exists is RAM shutdown - this feature disables RAM outside the area 0xFF000 &rarr; 0xFFEFF.
				This is why we move certain variables pertaining to the applications state into the RAMSD safe area - which retains power.<br>
				RAM outside of the mentioned range, upon exiting RAM shutdown, will be undefined.<br>
				This is why the section init code exists, to intialise our RAM safe data.
			</p>
			<pre class="no-copy"><code class="C">/** @brief type for handling RAMSD section*/
typedef struct
{
	char __far *rom_sectop;         /*Start address of copy source section      */
	char __far *rom_secend;         /*End address + 1 of copy source section    */
	char __near *ram_sectop;        /*Start address of copy destination section */
} dsec_t;

/* Place system data in RAMSD safe section*/
#pragma section data RAMSD

/* Display area data*/
ST7735S_display_area_info_t disp_info = {ORIENT_0, 0U, 0U, 0U, 0U};
/* variable to track system state*/
system_state_type system_state = RUN_MODE;
/* variable to track previous system state*/
system_state_type prev_system_state = RUN_MODE;
/* Array of titles for each state*/
const char * titles[] = {
		"RUN",
		"HALT",
		"STOP",
		"STOP \n - NO LOCO",
		"STOP \n - NO LOCO \n - RAMSDS=1",
		"STOP \n - FLOATING IO",
		"STOP \n - CCIO ENABLED"
};

/* Reset section*/
#pragma section

/** section info for RAMSD*/
static const dsec_t dsec_info =
{
		__sectop("RAMSD_n"),
		__secend("RAMSD_n"),
		(char __near *)__sectop("RAMSDR_n")
};

void App_init(void)
{
	/* Section initialise*/
	char __far *rom_p = dsec_info.rom_sectop;
	char __near *ram_p = dsec_info.ram_sectop;
	for ( ; rom_p != dsec_info.rom_secend; rom_p++, ram_p++)
	{
		*ram_p = *rom_p;
	}
	/* etc...*/
}
/* END OF FUNCTION*/</code></pre>
		</details>

		<!-- Prepare the pages modal images-->
		<script>lab_templater.Prepare_modal();</script>

		<!-- Button for going to the next page-->
		<script>lab_templater.Generate_next_page_button("Next...");</script>

		<!-- Setup code copying functionality on all appropriately formatted code snippets-->
		<script>Setup_code_copy();</script>

	</div>
</body>

</html>